@import url("https://use.typekit.net/fgm0elp.css");

body {
	margin: 0px;
	font-family: quiroh, sans-serif;
}

#mithril-root {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: space-between;
}

form {
	margin: 0;
	padding: .5em;
}

input {
	display: block;
	width: 100%;
}

#services {
	overflow-y: auto;
	overflow-x: hidden;
}

#stop {
	list-style: none;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: .5em;
	margin-bottom: .5em;
	font-size: .9em;
}

.stop-service:nth-child(odd) {
	background-color: #afafaf;
}

.stop-service:nth-child(even) {
	background-color: #858585;
}

.stop-service {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

#service-data {
	min-width: 20%;
	display: flex;
	justify-content: space-between;
}

#service-id {
	color: #37adfc;
	padding-top: .2em;
	padding-bottom: .2em;
}
